# Ignore build output directories
/bin/
/build/
/dist/
.env
.env.local

# Ignore package manager directories
/node_modules/
/.venv/
# Ignore club_urls.json file
/server/club_urls.json
/server/.venv/
.vercel
